@use "sass:meta";
@use "sass:math";
@use "sass:map";
@use "variables" as *;
@use "breakpoints" as *;
@use "functions" as *;

// Media query
@mixin mq($size) {
  @if map.has-key($bp, $size) {
    $breakpoint: map.get($bp, $size);

    @media screen and (min-width: $breakpoint) {
      @content;
    }
  } @else if meta.type-of($size) == number {
    @if math.is-unitless($size) {
      @error 'when using a number with @mq() make sure to include a unit';
    } @else {
      @media screen and (min-width: $size) {
        @content;
      }
    }
  } @else {
    @error 'the keyword #{$size} is not in the $breakpoints map';
  }
}

// Font-awesome
@mixin fa($icon) {
  font-family: $font-family-fa;
  content: $icon;
  display: inline-block;
  font-weight: 400;
}

// Container
@mixin container($width: 1440px) {
  max-width: $width;
  margin: 0 auto;
  padding: 0 20px;
}

// Headers
@mixin h1() {
  color: #000;
  font-weight: 700;
  font-family: $font-family-header;
  font-size: to-rem(30);
  line-height: to-rem(39);

  @include mq('medium') {
    font-size: to-rem(38);
    line-height: to-rem(49);
  }
}

@mixin h2() {
  color: #000;
  font-weight: 700;
  font-family: $font-family-header;
  font-size: to-rem(24);
  line-height: to-rem(31);

  @include mq('medium') {
    font-size: to-rem(30);
    line-height: to-rem(39);
  }
}

@mixin h3() {
  color: #000;
  font-weight: 700;
  font-family: $font-family-header;
  font-size: to-rem(24);
  line-height: to-rem(31);

  @include mq('medium') {
    font-size: to-rem(30);
    line-height: to-rem(39);
  }
}

@mixin h4() {
  color: #000;
  font-weight: 700;
  font-family: $font-family-header;
  font-size: to-rem(24);
  line-height: to-rem(31);

  @include mq('medium') {
    font-size: to-rem(30);
    line-height: to-rem(39);
  }
}

@mixin h5() {
  color: #000;
  font-weight: 700;
  font-family: $font-family-header;
  font-size: to-rem(24);
  line-height: to-rem(31);

  @include mq('medium') {
    font-size: to-rem(30);
    line-height: to-rem(39);
  }
}

@mixin h6() {
  color: #000;
  font-weight: 700;
  font-family: $font-family-header;
  font-size: to-rem(24);
  line-height: to-rem(31);

  @include mq('medium') {
    font-size: to-rem(30);
    line-height: to-rem(39);
  }
}
