// Colors
$black-100: #000 !default; 
$blue-100: #0356F2 !default;
$blue-70: #256DF3 !default;
$red-100: #EA583F !default;
$yellow-100: #FFE500 !default;
$neutral-100: #4FDCB9 !default;

// Default fonts
$-ff-sans: sans-serif !default;
$-ff-serif: serif !default;

// Default family fonts
$font-family-fa: "Font Awesome 5 Free", serif !default;
$font-family-header: $-ff-sans !default;
$font-family-base: $-ff-sans !default;
$font-family-accent: $-ff-sans !default;
