@use "../../scss" as *;

.breakpoints {
    @include mq('small') {
        content: 'small';
    }

    @include mq('medium') {
        content: 'medium';
    }

    @include mq('tablet') {
        content: 'tablet';
    }

    @include mq('large') {
        content: 'large';
    }
}

.fa {
    @include fa('test');
}

.container {
    @include container();
}

.container_custom {
    @include container(990px);
}

.func-to-rem {
    font-size: to-rem(12);
}

h1 { @include h1() }
h2 { @include h2() }
h3 { @include h3() }
h4 { @include h4() }
h5 { @include h5() }
h6 { @include h6() }